
.enviarPesquisa {
    background-color: #034159;
    margin-left: .1%;
    padding: 2% 8%;
    font-family: Super Renewables;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #0CF25D;
    cursor: pointer;
    border-radius: 12px;
    display: block;
    font-size: 1.2em;
}

.enviarPesquisa:hover {
    background-position: right center;
    /* change the direction of the change here */
    background-color: #0CF25D;
    color: #034159;
    text-decoration: none;
}
@keyframes click {
    0% {
        outline-offset: 2px;
    }
    50% {
        outline-offset: 4px;
    }
    75% {
        outline-offset: 8px;
    }
    90% {
        outline-offset: 10px;
    }
    100% {
        outline-offset: 12px;
        outline-color: transparent;
        background-color: transparent;
        color: transparent;
    }
}

.enviarPesquisa:active {
    animation: click .1s;
}
.bot {
    border: 6px;
    border-radius: 15px;
    background-color: rgb(209, 209, 209);
    color: black;
    position: fixed;
    width: 2vh;
    height: 5vh;
    line-height: 2vh;
    top: -2vh;
    padding: 1.5% 12%;
    left: -18vh;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    transition-duration: .3s;
    outline-style: dashed;
    outline-width: 0px;
}

.bot:hover {
    background-color: #025951;
    color: white;
    outline-width: 6px;
    outline-style: solid;
    outline-color: #0CF25D;
    animation-fill-mode: forwards;
}

body{
    font-family: Super Renewables;
    font-size: 20px;
    background-image: url('Imagens/futuro/FundoEx.jpg');
    color: #034159;
    background-color: #034159;
}

.etpc-forms {
    padding-top: 5vh;

    text-align: left;
    background-color: #EEE8AA;
}

.perguntas{
    padding: 1vh 2vh;
    text-align: left;
    border-radius: 2vh;
    margin-bottom: 18vh; 
    background-image: linear-gradient(rgb(241, 241, 241), rgb(255, 255, 255)); ;
}