#question{
    position: relative;
	color: #EBEBEB;
    font-size: 5vh;
    margin-left: 4%;
    font-family: 'Montserrat', sans-serif;
    top: 5%;
}

.painel{
    position: fixed;
    top: 45%;
    left: 50%;
    word-break: break-word;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 68%;
    justify-content: center;
    height: 78%;
    border-radius: 36px;
    background-image: linear-gradient(61.37deg, #025951 26.38%, #058B55 75.91%, #0CF25D 123.41%);
}

.opcoes{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
    top: 38%;
    width: 70%;
    height: 38%;
    margin-left: 2%;
    justify-content: left; 
}

.option{
    margin: 0px 12px;
    margin-left: 4vh;
    font-family: 'Cabin', sans-serif;

    width: fit-content;
    max-width: 130%;
    font-size: 125%;
    top: 50%;
    background-color: #DAFDBA;
    padding: 1% 4%;
    border-radius: 7px;
}

@keyframes clicado{
    0%   {box-shadow: 0px 0px 8px 8px aqua;}
    50%   {box-shadow: 0px 0px 4px 4px aqua;}
    75%   {box-shadow: 0px 0px 2px 2px aqua;}
    100% {box-shadow: 0px 0px 0px 0px aqua;}
}

@keyframes aparecer{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes clicadonav{
    0%   {background-color: #265C4B;}
    50%   {background-color: rgb(248, 252, 223);}
    100% {background-color: #265C4B;}
}

.option:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.option:active{
    background-color: aqua;
    animation: clicado .2s;
}


#next{
    position: fixed;
    font-family: 'Cabin', sans-serif;
    font-size: 2vh;
    box-shadow: #172026 0px 5px;
    border-radius: 15px;
    border: none;
    padding: 2.5% 10%;
    background-color: #9AEBA3;
    color: #172026;
    left: 34%;
    cursor: pointer;
    top: 82%;
}

#prev{
    background-color: #9AEBA3;
    color: #172026;
    position: fixed;
    box-shadow: #172026 0px 5px;
    border-radius: 15px;
    border: none;
    font-size: 2vh;
    font-family: 'Cabin', sans-serif;
    padding: 2.5% 10%;
    border-radius: 15px;
    cursor: pointer;
    left: 5%;
    top: 82%;
}

#finalizar{
    background-color: #9AEBA3;
    color: #172026;
    box-shadow: #172026 0px 5px;
    border-radius: 15px;
    border: none;
    animation: aparecer .8s;
    font-family: 'Cabin', sans-serif;
    font-size: 2vh;
    position: fixed;
    left: 70%;
    padding: 2.5% 10%;
    cursor: pointer;
    border-radius: 15px;
    top: 82%;
}


#next:active{
    animation: clicadonav .2s;
    box-shadow: 0 5px #172026;
    transform: translateY(8px);
}

#next:hover{
    background-color: #DAFDBA;
    transition-duration: .2s;
}

#prev:hover{
    transition-duration: .2s;
    background-color: #DAFDBA;
}

#finalizar:hover{
    transition-duration: .2s;
    background-color: #DAFDBA;
}

#prev:active{
    background-color: #DAFDBA;
    animation: clicadonav .2s;
    box-shadow: 0 5px #172026;
    transform: translateY(8px);
}

#finalizar:active{
    background-color: #DAFDBA;
    animation: clicadonav .2s;
    box-shadow: 0 5px #172026;
    transform: translateY(8px);
}
