@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root
{
    --fundo: #012030;
    --texto-branco: #F2F2F2;
    --azul: #45C4B0;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

body
{
    background-color: var(--fundo);
    text-align: center;
}

.perguntas
{
    color: var(--texto-branco);
    font-size: 1.7rem;
    font-weight: 600;
    margin: 12vh auto;
    width: 80%;
}

.opcoes
{
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 0 auto;
    gap: 3vh;

    & .option
    {
        background-color: var(--azul);
        border: none;
        padding: 2vh 1vw;
        cursor: pointer;
        border-radius: 0 0 15px 15px;
        font-weight: 500;
        transition: filter .25s;
    }

    & .option:hover
    {
        filter: brightness(115%);
    }
}

#next, #prev
{
    position: fixed;
    top: 50%;
    border-radius: 50%;
    border: none;
    background-color: var(--azul);
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
}

#next
{
    right: 10px;
}

#prev
{
    left: 10px;
}

#finalizar
{
    padding: 2vh 8vw;
    border-radius: 15px;
    background-color: var(--texto-branco);
    color: var(--fundo);
    border: none;
    width: fit-content;
    margin: auto;

    &:hover
    {
        filter: brightness(80%);
    }

    &:active
    {
        position: relative;
        top: 5px;
    }
}

@keyframes acender
{
    0%
    {
        background-color: var(--azul);
    }
    100%
    {
        background-color: var(--texto-branco);
    }
}

@keyframes apagar
{
    0%
    {
        background-color: var(--texto-branco);
    }
    100%
    {
        background-color: var(--azul);
    }
}

@keyframes aparecer
{
    0%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}

@keyframes desaparecer
{
    0%
    {
        opacity: 100%;
    }
    100%
    {
        opacity: 0%;
    }
}

.progress
{
    height: 7px;
    width: 100%;
    left: 0%;
    border-radius: 0; 
    top: 0;
    background: none;
}

.progress-bar
{
    background-color: var(--azul);
}


@media only screen and (max-width: 700px)
{
    .opcoes
    {
        width: 85vw;
    }

    .option
    {
        font-size: .8rem;
    }

    .perguntas
    {
        font-size: 1.25rem;
        margin: 7vh auto;
        width: 95%;
    }

    #next,
    #prev
    {
        opacity: .8;
        top: 80%;
    }

    #next
    {
        right: 5px;
    }

    #prev
    {
        left: 5px;
    }
}