/* declaração de variaveis */
:root{
    --tamanho_questao : 3vh;
    --tamanho_texto_opcao_grande : 2vh;
    --tamanho_texto_opcao_pequeno : 2.5vh;
    --posicao_botao_direita: 34%;
    --posicao_botao_finalizar_top: 72%;
    --posicao_botao_finalizar_left: 30%;
    --posicao_bola_top: 6%;
    --tamanho_bola: 30px;
    --fonte_numero_bola: 15px;
    --posicao_numero_bola_top: 23%;
    --posicao_questao_left: 11%;
    --altura_opcoes: 81%;
}
@media screen and (min-width : 780px){
    :root{
        --tamanho_questao : 5vh;
        --tamanho_texto_opcao_grande : 2.5vh;
        --tamanho_texto_opcao_pequeno : 3vh;
        --posicao_botao_direita: 34%;
        --posicao_botao_finalizar_top: 82%;
        --posicao_botao_finalizar_left: 70%;
        --tamanho_bola: 70px;
        --fonte_numero_bola: 33px;
        --posicao_bola_top: 4%;
        --posicao_numero_bola_top: 19%;
        --posicao_questao_left: 8%;
        --altura_opcoes: 60%;
    }
}

@media screen and (min-width : 1000px) 
{
    :root
    {
        --posicao_questao_left: 10%;
        --posicao_bola_top: 4%;
        --posicao_numero_bola_top: 19%;
    }
}

@media screen and (max-width : 500px){
    :root{
        --tamanho_questao : 3vh;
        --tamanho_texto_opcao_grande : 1.5vh;
        --tamanho_texto_opcao_pequeno : 2vh;
        --posicao_botao_direita: 54%;
        --posicao_botao_finalizar_top: 72%;
        --posicao_botao_finalizar_left: 30%;
        --posicao_bola_top: 6%;
        --tamanho_bola: 30px;
        --fonte_numero_bola: 15px;
        --posicao_numero_bola_top: 19%;
        --posicao_questao_left: 11%;
        --altura_opcoes: 70%;
        --tamanho_botoes_navegacao: 
    }
}
@media screen and (max-width : 300px) 
{
    :root
    {
        --tamanho_bola: 19px;
        --fonte_numero_bola: 8px;
    }    
}

/* resto do código */
/*Pergunta inicial*/
.painel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #012030;
}

.progress{
    position: fixed;
    top: 0%;
    left: 0;
}

#bola_numero{
    position: absolute;
    border-radius: 50%;
    background-color: #45C4B0;
    top: var(--posicao_bola_top);
    left: 2%;
    height: var(--tamanho_bola);
    width: var(--tamanho_bola);
}

#numero_bola{
    position: absolute;
    color: #012030;
    font-weight: 700;
    font-size: var(--fonte_numero_bola);
    top: var(--posicao_numero_bola_top);
    font-family: 'Montserrat', sans-serif;
}

#question{
    position: fixed;
	color: #EBEBEB;
    font-size: var(--tamanho_questao);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    left: var(--posicao_questao_left);
    top: 5%;
}

/*Opções*/

.opcoes{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: transparent;
    width: var(--altura_opcoes);
    margin-bottom: .7%;
    height: 38%;
    top: 29%;
    justify-content: left; 
}

.option{
    margin: 0px 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 100%;
    top: 50%;
    margin-bottom: 1%;
    background: #45C4B0;
    padding: 1% 4%;
    border-radius: 0px 0px 54px 0px;
    margin-left: 0%;
    text-align: left; 
    font-size: var(--tamanho_texto_opcao_pequeno);
}

@keyframes clicado{
    0%   {box-shadow: 0px 0px 8px 8px aqua;}
    50%   {box-shadow: 0px 0px 4px 4px aqua;}
    75%   {box-shadow: 0px 0px 2px 2px aqua;}
    100% {box-shadow: 0px 0px 0px 0px aqua;}
}

@keyframes aparecer{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes clicadonav{
    0%   {background-color: #265C4B;}
    50%   {background-color: rgb(248, 252, 223);}
    100% {background-color: #265C4B;}
}

.option:hover{
    background-color: aquamarine;
    cursor: pointer;
}

.option:active{
    background-color: aqua;
    animation: clicado .2s;
}

/*navegação*/

#next{
    position: fixed;
    font-family: 'Cabin', sans-serif;
    font-size: 2.7vh;
    box-shadow: #172026 0px 5px;
    border-radius: 58px;
    border: none;
    padding: 2% 7%;
    background-color: #DAFDBA;
    color: #172026;
    left: var(--posicao_botao_direita);
    cursor: pointer;
    top: 82%;
}

#prev{
    background-color: #DAFDBA;
    color: #172026;
    position: fixed;
    box-shadow: #172026 0px 5px;
    border: none;
    font-size: 2.7vh;
    font-family: 'Cabin', sans-serif;
    padding: 2% 7%;
    border-radius: 58px;
    cursor: pointer;
    left: 5%;
    top: 82%;
}

#finalizar{
    background: linear-gradient(112.97deg, #B0EAB7 2.17%, #45C4B0 91.84%);
    color: #172026;
    box-shadow: #172026 0px 5px;
    border-radius: 15px;
    border: none;
    animation: aparecer .8s;
    width: var(--tamanho_botao_finalizar);
    font-family: 'Cabin', sans-serif;
    font-size: 2.9vh;
    position: fixed;
    left: var(--posicao_botao_finalizar_left);
    padding: 2.5% 10%;
    cursor: pointer;
    border-radius: 58px;
    top: var(--posicao_botao_finalizar_top);
}

