/* declaração de variaveis */
:root{
    --cor_caixa_titulo : #0CF25D;
    --cor_titulo_resultado: #034159;
    --cor_caixa_resultado : #025951;
    --cor_caixa_geral : #034159;
}

/* resto do código */
#caixa_titulo{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 30%;
    background-color: var(--cor_caixa_titulo);
}

#titulo_resultado {
    color: var(--cor_titulo_resultado);
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vh;
    top: 40%;
    left: 20%;
}

#caixa_resultado{
    position: fixed;
    top: 30%;
    left: 0;
    width: 40%;
    height: 70%;
    background-color: var(--cor_caixa_resultado);
}

#imagem_fundo{
    position: fixed;
    top: 30%;
    left: 0;
    width: 40%;
    height: 70%;
    opacity: 12%;
}

#texto_resultado{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    font-size: 4vh;
    color: var(--cor_caixa_titulo);
    top: 5%;
    left: 20%;
}

/* barra de progresso */

.progress{
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 2;
}

.progress:hover{
    box-shadow: 0 0 5px var(--cor_caixa_titulo), 0 0 25px var(--cor_caixa_titulo), 0 0 50px var(--cor_caixa_titulo),
     0 0 200px var(--cor_caixa_titulo);
}

#resultado{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 15vh;
    color: var(--cor_caixa_titulo);
    top: 20%;
    left: 39%;
}

#caixa_geral{
    position: fixed;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    background-color: var(--cor_caixa_geral);
}

#texto_geral{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    font-size: 3vh;
    color: aliceblue;
    top: 20%;
    left: 10%;
    margin-right: 20px;
}

#dica{
    position: absolute;
    top: 80%;
    font-family: 'Cabin', sans-serif;
    font-size: 3vh;
    color: var(--cor_caixa_resultado);
    left: 4%;
    text-decoration: underline;
    cursor: pointer;
}

#ir_inicio{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    top: 64%;
    right: 10%;
    height: 90px;
    width: 250px;
    border: 0;
    border-radius: 15px;
    transition-duration: .2s;
    cursor: pointer;
}

#ir_mediaGlobal{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    top: 79%;
    right: 10%;
    height: 90px;
    width: 250px;
    border: 0;
    border-radius: 15px;
    background-color: var(--cor_caixa_titulo);
    transition-duration: .2s;
    cursor: pointer;
}

#ir_inicio, #ir_mediaGlobal
{
    outline-style: dashed;
    outline-width: 0px;
}

/* HOVER */

#ir_inicio:hover, #ir_mediaGlobal:hover
{
    outline-width: 5px;
    outline-style: solid;
}

#ir_inicio:hover
{
    outline-color: #efefef;
}

#ir_mediaGlobal:hover
{
    outline-color: var(--cor_caixa_titulo);
}

/* ACTIVE */

#ir_inicio:active, #ir_mediaGlobal:active
{
    outline-style: none;
}

#ir_inicio:active{
    filter: brightness(50%);
    outline: 0;
}

#ir_mediaGlobal:active{
    filter: brightness(50%);
    outline: 0;
}
