/* declaração de variaveis */
:root{
    --cor_caixa_titulo : #0CF25D;
    --cor_titulo_resultado: #034159;
    --cor_caixa_resultado : #025951;
    --cor_caixa_geral : #034159;
    --tamanho_titulo_resultado : 7vh;
    --tamanho_texto_resultado : 4vh;
    --tamanho_resultado : 15vh;
    --tamanho_texto_geral : 3vh;
    --altura_botoes : 90px;
    --largura_botao_inicio : 150px;
    --largura_botao_quiz : 200px;
    --top_botao_inicio : 60%;
    --top_botao_quiz : 80%;
}

@media screen and (min-width : 700px){
    :root{
        --tamanho_titulo_resultado : 10vh;
        --tamanho_texto_resultado : 5vh;
        --tamanho_resultado : 20vh;
        --tamanho_texto_geral : 3.2vh;
        --largura_botao_inicio : 190px;
        --largura_botao_quiz : 250px;
    }
}

@media screen and (max-width : 500px){
    :root{
        --tamanho_titulo_resultado : 3vh;
        --tamanho_texto_resultado : 3vh;
        --tamanho_resultado : 10vh;
        --tamanho_texto_geral : 2vh;
        --largura_botao_inicio : 90px;
        --largura_botao_quiz : 150px;
        --top_botao_inicio : 45%;
        --top_botao_quiz : 60%;
    }
}

@media screen and (max-height : 600px){
    :root{
        --altura_botoes : 60px;
    }
}

/* resto do código */
#caixa_titulo{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 30%;
    background-color: var(--cor_caixa_titulo);
}

#titulo_resultado {
    color: var(--cor_titulo_resultado);
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--tamanho_titulo_resultado);
    top: 40%;
    left: 20%;
}

#caixa_resultado{
    position: fixed;
    top: 30%;
    left: 0;
    width: 40%;
    height: 70%;
    background-color: var(--cor_caixa_resultado);
}

#imagem_fundo{
    position: fixed;
    top: 30%;
    left: 0;
    width: 40%;
    height: 70%;
    opacity: 12%;
}

#texto_resultado{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    font-size: var(--tamanho_texto_resultado);
    color: var(--cor_caixa_titulo);
    top: 5%;
    left: 20%;
}

#resultado{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--tamanho_resultado);
    color: var(--cor_caixa_titulo);
    top: 20%;
    left: 39%;
}

#caixa_geral{
    position: fixed;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
    background-color: var(--cor_caixa_geral);
}

#texto_geral{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    font-size: var(--tamanho_texto_geral);
    color: aliceblue;
    top: 20%;
    left: 10%;
}

#dica{
    position: absolute;
    top: 80%;
    font-family: 'Cabin', sans-serif;
    font-size: 3vh;
    color: var(--cor_caixa_resultado);
    left: 4%;
    cursor: pointer;
}

#ir_inicio{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    top: var(--top_botao_inicio);
    right: 10%;
    height: var(--altura_botoes);
    width: var(--largura_botao_inicio);
    border: 0;
    border-radius: 15px;
    transition-duration: .2s;
    cursor: pointer;
}

#ir_quiz{
    position: absolute;
    font-family: 'Cabin', sans-serif;
    top: var(--top_botao_quiz);
    right: 10%;
    height: var(--altura_botoes);
    width: var(--largura_botao_quiz);
    border: 0;
    transition-duration: .2s;
    border-radius: 15px;
    background-color: var(--cor_caixa_titulo);
    cursor: pointer;
}

#ir_quiz:hover{
    filter: brightness(50%);
}
#ir_inicio:hover{
    filter: brightness(50%);
}

.progress{
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 2;
}
