@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', 'Sans-Serif';
}

:root
{
    --blocos : #DBF227;
    --bloco-transparente : rgba(219, 242, 39, .88);
    --fundo: #F2F2F2;
    --texto: #042940;
}

body
{
    background-color: var(--fundo);
    text-align: center;
}

img:first-of-type
{
    margin: 6vh;
}

h4
{
    font-weight: 400;
}

h2
{
    font-size: calc(2.3rem + 2.1vw);
    text-transform: uppercase;
    font-weight: 700;
}

#caixa_titulo
{
    position: relative;
    margin: 1vh 0;
    width: 100%;
    padding: .5vh 0;
    background: linear-gradient(var(--bloco-transparente), var(--bloco-transparente)), url("../Imagens/imagens_fundo/FundoEx.webp");
    background-attachment: fixed;
}

h1
{
    font-size: 11rem;
    margin-top: -30px;
}

h4:last-of-type
{
    margin-top: 8vh;
    font-weight: 500;
    font-size: larger;
}

div#caixa_titulo:last-of-type
{
    padding: 5vh;
    text-align: left;

    & p
    {
        width: 50vw;
        margin: auto;
        font-weight: 500;
        font-size: 1.25rem;
    }
}

#dica
{
    margin: 10vh;
    text-decoration: underline;
    &:hover
    {
        cursor: pointer;
        filter: opacity(.8);
    }
}

button
{
    padding: 3vh 0;
    width: 30vw;
    display: block;
    margin: 1.5vh auto;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    transition: filter .2s;
    transition: top .2s;
    top: 0;
    font-size: 1.05rem;

    & i
    {
        position: absolute;
        vertical-align: text-top;
        transform: scale(115%);
        left: 5%;
    }

    &:active
    {
        filter: brightness(85%);
        top: 5px;
    }
}

button#ir_mediaGlobal
{
    background-color: var(--bloco-transparente);
    border: none;
}

button#ir_inicio
{
    border: 1px solid var(--texto);
    background: none;
}

button:last-of-type
{
    margin-bottom: 21vh;
}

#logo_inicio
{
    cursor: pointer;
    transition: transform .2s;
    &:hover
    {
        transform: scale(110%);
    }
    &:active
    {
        transform: scale(90%);
    }
}

footer,
footer *
{
    color: var(--fundo);
    text-align: right;
}

footer
{
    padding: 3rem;
    background-color: var(--texto);
    min-height: 60vh;
}

footer div
{
    margin: 20px 0 30px 0;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

footer h2
{
    font-family: 400;
    font-size: 2rem;
}

footer div a
{
    font-size: 2rem;
    transition: all .4s;
}

footer div a:hover
{
    transform: scale(120%);
}

footer > a
{
    margin-left: 20px;
}

footer > a:hover
{
    text-decoration: underline;
}


@media only screen and (max-width: 800px) 
{
    div#caixa_titulo:last-of-type
    {

        & p
        {
            width: 100%;
        }
    }

    button
    {
        padding: 2vh 1vw;
        width: 50vw;
        display: block;
        margin: 1.5vh auto;
        font-size: 1rem;
    }


    @media only screen and (max-width: 400px) 
    {
        button
        {
            width: 85vw;
        }   
    }
}