/* declaração de variaveis */
:root{
    --cor_caixa_titulo : #0CF25D;
    --cor_titulo_resultado: #034159;
    --cor_caixa_resultado : #025951;
    --cor_caixa_geral : #034159;
    --mediaGlobal_tamanho_texto: 4vh;
    --numero_tamanho_texto: 12vh;
    --largura_botoes: 270px;
    --left_numeroGlobal: 12%;
    --margin_top_numeroGlobal: 1%; 
    --fonte_titulo : 25px;
    --fonte_opcao : 20px;
}

@media screen and (max-width : 700px){
    :root{
        --mediaGlobal_tamanho_texto: 4vh;
        --numero_tamanho_texto: 8vh;
        --largura_botoes: 120px;
        --left_numeroGlobal: 33%;
        --margin_top_numeroGlobal: 8%;
        --fonte_titulo : 18px; 
        --fonte_opcao : 15px;
    }
    
}

html{
    overflow-y: scroll;
}

#caixa_titulo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #D2F20C;
    z-index: 5;
}

/* FONTES, CORES e POSIÇÕES */

#texto_titulo, #numero_media, #irInicio, #RefazerQuiz
{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: #012030;
}

#irInicio, #RefazerQuiz{
    cursor: pointer;
    width: var(--largura_botoes);
    right: 0;
    border: 0;
    border-radius: 0px 0px 0px 50px;
    height: 27%;
    outline-style: dashed;
    outline-width: 0px;
}

#numero_media{
    left: var(--left_numeroGlobal);
    font-size: var(--numero_tamanho_texto);
    margin-top: var(--margin_top_numeroGlobal);
}

#texto_titulo{
    left: 2%;
    font-size: var(--mediaGlobal_tamanho_texto);
}

#irInicio
{
    margin-top: 2%;
    top: 48%;
}

#RefazerQuiz{
    margin-top: 2%;
}

/* HOVERS */
#RefazerQuiz:hover{
    outline-color: var(--cor_caixa_titulo);
    outline-width: 5px;
    outline-style: dashed;
}

#IrInicio:hover{
    outline-color: var(--cor_caixa_titulo);
    outline-width: 5px;
    outline-style: dashed;
}

/* QUESTÕES */

.textos{
    position: absolute;
    background-color: #012030;;
    left: 0;
    top: 20%;
    width: 100%;
    display: flex;
	flex-direction: column;
    justify-content: center;
	gap: 20px;
}

.questao{
    margin-top: 40px;
    margin-left: 10%;
}

.questao:nth-child(1){
    margin-top: 0;
}

/* Questões detalhes*/
#tituloQuestao{
    margin-bottom: 40px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: var(--fonte_titulo);
}

#tituloQuestao:first-child{
    margin-top: 30px;
}

.option{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: var(--fonte_opcao);
}
