/* css geral*/

html, body{
    overflow-x: hidden;
}

#tituloInicio{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    left: 6%;
    font-size: var(--tamanho_fonte_titulo);
}


#tInicio{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    left: 7%;
    top: var(--top_texto_iniciar);
}

#tOqFazemos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: var(--tamanho_fonte_topicos);
    top: 14px;
}

#tComo_func{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: var(--tamanho_fonte_topicos);
    top: 220px;
}

#tNossosPilares{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
}


h1{
    position: absolute;
    top: 40px;
    font-family: 'Montserrat', sans-serif;
    left: 3%;
} 
h2{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    left: 3%;
}

/* animações */
@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

@keyframes destaque_pagina{
    from{opacity: 1;}
    50%{opacity: 0.5;}
    to{opacity: 1;}
}
/* css da tela inicial*/
#inicio{
    position: absolute;
    top: 0;
    left: 0;
    height: 570px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(153.11deg, rgba(219, 242, 39, 0.95) -10.18%, #9FC131 26.3%);
}

#btn_começar{
    position: absolute;
    cursor: pointer;
    top: var(--top_botao_comecar);
    left: var(--left_botao_comecar);
    border-radius: 88px;
    background-color: #DBF227;
    width: 180px;
    height: 50px;
    border-style: none;
    box-shadow: #00000034 0px 12px 10px;
    font-family: 'Cabin', sans-serif;
    transition-duration: .2s;
}

#btn_começar:hover{
    background-color: #83911a;
}

#imagem_globo{
    position: absolute;
    right: 10%;
    top: 30%;
    font-size: 250px;
    transition: transform 1s;
}

#imagem_globo:hover{
    transform: scale(1.05);
}


/* css da tela dos nossos objetivos*/
#objetivo{
    position: absolute;
    top: 570px;
    left: 0;
    background: linear-gradient(to right, #042940, #0e3749);
    height: 770px;
    width: 100%;
}

#texto_objetivo{
    position: absolute;
    top: 100px;
    color: #EBEBEB;
    left:3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 20px;
}

#texto_pontuacao{
    position: absolute;
    top: 286px;
    color: #EBEBEB;
    left:3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 20px;
}

#Lista_pontuacao{
    position: absolute;
    top: var(--top_lista_pontuacao);
    left: 3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: var(--tamanho_lista_pontuacao);
}

/* css da tela dos pilares*/
#pilares{
    position: absolute;
    top: 1170px;
    left: 0;
    background-color: #13678A;
    height: 1400px;
    width: 100%;
}

.caixa_pilar{
    position: absolute;
    width: 87%;
    height: 200px;
}

.titulo_caixa{
    position: absolute;
    color: #012030;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    left: 2%;
    top: 4%;
}

#imagem_caixa{
    position: absolute;
    height: var(--tamanho_imagem_pilar);
    width: var(--tamanho_imagem_pilar);
    top: 30%;
    left: 2%;
    transition: transform 1s;
}

#imagem_caixa:hover{
    transform: scale(1.2);
}

#texto_caixa{
    position: absolute;
    top: 30%;
    left: var(--posicao_texto_pilar);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: var(--tamanho_texto_pilar);
}

/* css da tela da nossa equipe*/
#equipe{
    position: absolute;
    left: 0;
    top: 2570px;
    background: linear-gradient(to right, #9AEBA3, #81e68c);
    height: 850px;
    width: 100%;
}

#card{
    position: absolute;
    left: 12%;
    top: 18%;
    width: 70%;
    height: 390px;
    background-color: #EBEBEB;
}

#imagem_card{
    position: absolute;
    height: var(--altura_caixa_carrossel);
    width: 50%;
}

#fundo_funcionalidade{
    position: absolute;
    right: 0;
    width: 50%;
    height: var(--altura_caixa_carrossel);
    background-color: #012030;
    display: flex;
    justify-content: center;
    align-items: center;
}

#funcionalidade{
    position: absolute;
    color: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: var(--tamanho_texto_funcionalidade);
}

.animacao_funcionalidade{
    animation: bounceIn;
    animation-duration: 2s;
}

#texto_equipe{
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    top: var(--top_texto_equipe);
    color: #012030;
    font-family: 'Cabin', sans-serif;
    font-size: var(--tamanho_texto_equipe);
}

/*animação do texto do carrousel*/
.my-div-animate {
    animation-name: my-animation;
    animation-duration: 1s;
}
  
@keyframes my-animation {
    from {
      opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/**/
#voltar{
    position: absolute;
    top: 600px;
    left: 12%;
}

#passar{
    position: absolute;
    top: 600px;
    right: 18%;
}

.circulo_carrousel{
    position: absolute;
    top: 600px;
    border-radius: 50%; 
    height: var(--tamanho_circulo_equipe);
    width: var(--tamanho_circulo_equipe);
    cursor: pointer;
}
#retangulo_redessociais{
    position: absolute;
    top: 700px;
    width: 70%;
    height: 100px;
    left: 12%;
    background-color: #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento{
    margin-right: 20px;
    transition: transform 1s;
}

.elemento:hover{
    transform: scale(1.2);
}

/* css dos desenvolvedores*/
#desenvolvedores{
    position: absolute;
    top: 3420px;
    height: 800px;
    width: 100%;
    background: linear-gradient(to right, #45C4B0, #2a9988);
}

#cards_desenvolvedores{
    display: inline-block;

}

/*css da parte final*/
#pagina_quiz{
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    top: 4220px;
    width: 100%;
    height: 490px;
    background: linear-gradient(to right, #042940, #0e3749);
}

#inicializador{
    position: absolute;
    width: var(--largura_bt_inicializador);
    height: 13%;
    font-family: 'Montserrat', sans-serif;
    background-color: #EBEBEB;
    color: #042940;
    font-weight: 600;
    top: 160px;
    border-radius: 88px;
    transition-duration: .4s;
}

#inicializador:hover{
    background-color: #9AEBA3;
    box-shadow: 0 0 5px #9AEBA3, 0 0 10px #9AEBA3, 0 0 10px #9AEBA3, 0 0 20px #9AEBA3;
}


#seta_cima{
    position: absolute;
    left: 49%;
    width: 50px;
    height: 50px;
    top: 70%;
    z-index: 3;
    cursor: pointer;
    animation: jumping 1s linear infinite;
}


/* declaração de variaveis */
:root{
    --tamanho_imagem_pilar : 100px;
    --posicao_texto_pilar : 130px;
    --tamanho_texto_pilar : 20px;
    --tamanho_texto_equipe : 20px;
    --top_texto_equipe : 230px;
    --top_botao_comecar : 350px;
    --left_botao_comecar : 7%;
    --tamanho_circulo_equipe : 20px;
    --tamanho_texto_funcionalidade : 20px;
    --largura_bt_inicializador : 250px;
    --altura_caixa_carrossel: 200px;
    --tamanho_fonte_titulo: 100px;
    --top_texto_iniciar: 39%;
    --tamanho_lista_pontuacao: 30px;
    --tamanho_fonte_topicos : 35px;
    --top_lista_pontuacao : 350px;
}

@media screen and (max-width : 700px){
    :root{
        --tamanho_imagem_pilar : 75px;
        --posicao_texto_pilar : 100px;
        --tamanho_texto_pilar : 14px;
        --tamanho_texto_equipe : 15px;
        --top_texto_equipe : 150px;
        --tamanho_circulo_equipe : 15px;
        --tamanho_texto_funcionalidade : 14px;
        --largura_bt_inicializador : 150px;
        --top_botao_comecar : 370px;
        --left_botao_comecar : 25%;
        --altura_caixa_carrossel: 140px;
        --tamanho_fonte_titulo: 40px;
        --top_texto_iniciar: 30%;
        --tamanho_lista_pontuacao: 25px;
        --tamanho_fonte_topicos : 35px;
        --top_lista_pontuacao : 360px;
    }
    
    #imagem_globo{
        display: none;
    }
}

@media screen and (max-width : 400px){
    :root{
        --tamanho_lista_pontuacao : 20px;
        --tamanho_fonte_topicos : 25px;
        --top_lista_pontuacao : 410px;
    }
}
