
/* css geral*/

html, body{
    overflow-x: hidden;
}

#tituloInicio{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    left: 6%;
    font-size: var(--tamanho_fonte_titulo);
}


#tInicio{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    left: 7%;
    top: var(--top_texto_iniciar);
}

#tOqFazemos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

#tNossosPilares{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
}


h1{
    position: absolute;
    top: 40px;
    font-family: 'Montserrat', sans-serif;
    left: 3%;
} 
h2{
    position: absolute;
    top: 14px;
    font-family: 'Montserrat', sans-serif;
    left: 3%;
}

/* animações */
@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

@keyframes destaque_pagina{
    from{opacity: 1;}
    50%{opacity: 0.5;}
    to{opacity: 1;}
}
/* css da tela inicial*/
#inicio{
    position: absolute;
    top: 0;
    left: 0;
    height: 570px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(153.11deg, rgba(219, 242, 39, 0.95) -10.18%, #9FC131 26.3%);
}

#btn_começar{
    position: absolute;
    cursor: pointer;
    top: var(--top_botao_comecar);
    left: 7%;
    border-radius: 88px;
    background-color: #DBF227;
    width: 180px;
    height: 50px;
    border-style: none;
    box-shadow: #00000034 0px 12px 10px;
    font-family: 'Cabin', sans-serif;
    transition-duration: .2s;
}

#btn_começar:hover{
    background-color: #83911a;
}

#imagem_globo{
    position: absolute;
    right: var(--right_imagem_globo);
    top: var(--top_imagem_globo);
    font-size: var(--tamanho_imagem_globo);
    transition: transform 1s;
}

#imagem_globo:hover{
    transform: scale(1.05);
}


/* css da tela dos nossos objetivos*/
#objetivo{
    position: absolute;
    top: 570px;
    left: 0;
    background-color: #042940;
    height: 770px;
    width: 100%;
}

#texto_objetivo{
    position: absolute;
    top: 100px;
    color: #EBEBEB;
    left:3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 20px;
}


/* css da tela dos pilares*/
#pilares{
    position: absolute;
    top: 970px;
    left: 0;
    background-color: #13678A;
    height: 1400px;
    width: 100%;
}

.caixa_pilar{
    position: absolute;
    width: 87%;
    height: 200px;
}

.titulo_caixa{
    position: absolute;
    color: #012030;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    left: 2%;
    top: 4%;
}

#imagem_caixa{
    position: absolute;
    height: var(--tamanho_imagem_pilar);
    width: var(--tamanho_imagem_pilar);
    top: 30%;
    left: 2%;
    transition: transform 1s;
}

#imagem_caixa:hover{
    transform: scale(1.2);
}

#texto_caixa{
    position: absolute;
    top: 30%;
    left: var(--posicao_texto_pilar);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: var(--tamanho_texto_pilar);
}

/* css da tela da nossa equipe*/
#equipe{
    position: absolute;
    left: 0;
    top: 2300px;
    background-color: #9AEBA3;
    height: 650px;
    width: 100%;
}

#card{
    position: absolute;
    left: 12%;
    top: 18%;
    width: 70%;
    height: 390px;
    background-color: #EBEBEB;
}

#imagem_card{
    position: absolute;
    height: var(--altura_caixa_carrossel);
    width: 50%;
}

#fundo_funcionalidade{
    position: absolute;
    right: 0;
    width: 50%;
    height: var(--altura_caixa_carrossel);
    background-color: #012030;
}

#funcionalidade{
    position: absolute;
    top: 80px;
    left: 6%;
    color: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: var(--tamanho_texto_funcionalidade);
}

#texto_equipe{
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    top: var(--top_texto_equipe);
    color: #012030;
    font-family: 'Cabin', sans-serif;
    font-size: var(--tamanho_texto_equipe);
}

#voltar{
    position: absolute;
    top: 85%;
    left: 12%;
}

#passar{
    position: absolute;
    top: 85%;
    right: 18%;
}

.circulo_carrousel{
    position: absolute;
    top: 88%;
    border-radius: 50%; 
    height: var(--tamanho_circulo_equipe);
    width: var(--tamanho_circulo_equipe);
    cursor: pointer;
}


/*css da parte final*/
#pagina_quiz{
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    top: 2950px;
    width: 100%;
    height: 490px;
    background-color: #042940;
}

#inicializador{
    position: absolute;
    width: var(--largura_bt_inicializador);
    height: 13%;
    font-family: 'Montserrat', sans-serif;
    background-color: #EBEBEB;
    color: #042940;
    font-weight: 600;
    top: 160px;
    border-radius: 88px;
    transition-duration: .4s;
}

#inicializador:hover{
    background-color: #9AEBA3;
    box-shadow: 0 0 5px #9AEBA3, 0 0 25px #9AEBA3, 0 0 50px #9AEBA3, 0 0 200px #9AEBA3;
}


#seta_cima{
    position: absolute;
    left: 49%;
    width: 50px;
    height: 50px;
    top: 70%;
    z-index: 3;
    cursor: pointer;
    animation: jumping 1s linear infinite;
}


/* declaração de variaveis */
:root{
    --tamanho_imagem_globo : 190px;
    --tamanho_imagem_pilar : 100px;
    --posicao_texto_pilar : 130px;
    --tamanho_texto_pilar : 20px;
    --tamanho_texto_equipe : 20px;
    --top_texto_equipe : 230px;
    --top_imagem_globo : 30%;
    --top_botao_comecar : 350px;
    --tamanho_circulo_equipe : 20px;
    --tamanho_texto_funcionalidade : 20px;
    --largura_bt_inicializador : 250px;
    --right_imagem_globo : 20%;
    --altura_caixa_carrossel: 200px;
    --tamanho_fonte_titulo: 100px;
    --top_texto_iniciar: 39%;
}

@media screen and (max-width : 700px){
    :root{
        --tamanho_imagem_globo : 120px;
        --tamanho_imagem_pilar : 75px;
        --posicao_texto_pilar : 100px;
        --tamanho_texto_pilar : 14px;
        --tamanho_texto_equipe : 15px;
        --top_texto_equipe : 150px;
        --tamanho_circulo_equipe : 15px;
        --tamanho_texto_funcionalidade : 14px;
        --largura_bt_inicializador : 150px;
        --top_imagem_globo : 45%;
        --right_imagem_globo : 10%;
        --top_botao_comecar : 370px;
        --altura_caixa_carrossel: 140px;
        --tamanho_fonte_titulo: 40px;
        --top_texto_iniciar: 30%;
    }
    
    #barra{
        display: block;
    }
}
