/* css geral*/
html, body
{
    overflow-x: hidden;
}

h1
{
    position: absolute;
    top: 70px;
    font-family: 'Montserrat', sans-serif;
    left: 3%;
}

h2
{
    position: absolute;
    font-family: 'Montserrat', sans-serif !important; 
    font-weight: 600 !important;
    left: 3%;
    font-size: var(--tamanho_fonte_topicos);
}

#tituloInicio{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    left: 6%;
    font-size: var(--tamanho_fonte_titulo);
    animation: descer 2s;
}

#tInicio{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    left: 7%;
    top: var(--top_texto_iniciar);
}

@keyframes descer{
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

#tFacaDiferenca
{
    position: relative;
    top: 19px;
    color: #ebebeb;
    justify-self: center;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: var(--tamanho_fonte_topicos);
}



/* Manipulando o TOP dos textos */
#tOqFazemos{
    top: 14px;
}

#tComo_func{
    top: 220px;
}

#tNossosPilares
{
    top: 22px;
}

#tNossaEquipe
{
    top: 18px;
}

#tDesenvolvedores
{
    top: 18px;
}


/* animações */
@keyframes degrade {
    0% {background-color: #DBF227;}
    50% {background-color: #9FC131;}
    100% {background-color: #DBF227;}
}

@keyframes destaque_pagina{
    from{opacity: 1;}
    50%{opacity: 0.5;}
    to{opacity: 1;}
}

.show_animacao{
    animation: animacao_aparecer 1s;
}

@keyframes animacao_aparecer {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* css da nav bar*/
#navBar{
    position: fixed;
    top: 0;
    background-color: #EBEBEB;
    width: 100%;
    height: 40px;
    z-index: 11;
}

#dropdown{
    position: absolute;
    top: 1px;
    left: 0;
}


/* css da tela inicial*/
#inicio{
    position: absolute;
    top: 0;
    left: 0;
    height: 570px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(153.11deg, rgba(219, 242, 39, 0.95) -10.18%, #9FC131 26.3%);
}

#btn_começar{
    position: absolute;
    cursor: pointer;
    top: var(--top_botao_comecar);
    left: var(--left_botao_comecar);
    border-radius: 88px;
    background-color: #DBF227;
    width: 180px;
    height: 50px;
    border-style: none;
    box-shadow: #00000034 0px 12px 10px;
    font-family: 'Cabin', sans-serif;
    transition-duration: .2s;
}

#btn_começar:hover{
    background-color: #83911a;
}

#imagem_globo{
    position: absolute;
    right: 10%;
    top: 30%;
    font-size: 250px;
    transition: transform 1s;
    animation: descer 1.5s;
}

#imagem_globo:hover{
    transform: scale(1.05);
}

#imagem_globo:active{
    transform: scale(.8);
}


/* css da tela dos nossos objetivos*/
#objetivo{
    position: absolute;
    top: 570px;
    left: 0;
    background: linear-gradient(to right, #042940, #0e3749);
    height: 770px;
    width: 100%;
}

#texto_objetivo{
    position: absolute;
    top: 100px;
    color: #EBEBEB;
    left:3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 20px;
}

#texto_pontuacao{
    position: absolute;
    top: 286px;
    color: #EBEBEB;
    left:3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 20px;
}

#Lista_pontuacao{
    position: absolute;
    top: var(--top_lista_pontuacao);
    left: 3%;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: var(--tamanho_lista_pontuacao);
}

/* css da tela dos pilares*/
#pilares{
    position: absolute;
    top: 1170px;
    left: 0;
    background-color: #13678A;
    height: 1400px;
    width: 100%;
}

.caixa_pilar{
    position: absolute;
    width: 87%;
    height: 200px;
}

.titulo_caixa{
    position: absolute;
    color: #012030;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 28px;
    left: 2%;
    top: 4%;
}

#imagem_caixa{
    position: absolute;
    height: var(--tamanho_imagem_pilar);
    width: var(--tamanho_imagem_pilar);
    top: 30%;
    left: 2%;
    transition: transform 1s;
}

#imagem_caixa:hover{
    transform: scale(1.2);
}

#texto_caixa{
    position: absolute;
    top: 30%;
    left: var(--posicao_texto_pilar);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: var(--tamanho_texto_pilar);
}

/* css da tela da nossa equipe*/
#equipe{
    position: absolute;
    left: 0;
    top: 2570px;
    background: linear-gradient(to right, #9AEBA3, #81e68c);
    height: 850px;
    width: 100%;
}

#card{
    position: absolute;
    left: 12%;
    top: 18%;
    width: 70%;
    height: 390px;
    background-color: #EBEBEB;
}

#imagem_card{
    position: absolute;
    height: var(--altura_caixa_carrossel);
    width: 50%;
}

#fundo_funcionalidade{
    position: absolute;
    right: 0;
    width: 50%;
    height: var(--altura_caixa_carrossel);
    background-color: #012030;
    display: flex;
    justify-content: center;
    align-items: center;
}

#funcionalidade{
    position: absolute;
    color: #EBEBEB;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: var(--tamanho_texto_funcionalidade);
}

.animacao_funcionalidade{
    animation: bounceIn;
    animation-duration: 2s;
}

#texto_equipe{
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
    top: var(--top_texto_equipe);
    color: #012030;
    font-family: 'Cabin', sans-serif;
    font-size: var(--tamanho_texto_equipe);
}

/*animação do texto do carrousel*/
.my-div-animate {
    animation-name: my-animation;
    animation-duration: 1s;
}
  
@keyframes my-animation {
    from {
      opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

/**/
#voltar{
    position: absolute;
    top: 600px;
    left: 12%;
}

#passar{
    position: absolute;
    top: 600px;
    right: 18%;
}

.circulo_carrousel{
    position: absolute;
    top: 600px;
    border-radius: 50%; 
    height: var(--tamanho_circulo_equipe);
    width: var(--tamanho_circulo_equipe);
    cursor: pointer;
}

#retangulo_redessociais{
    position: absolute;
    top: 700px;
    width: 70%;
    height: 100px;
    left: 12%;
    border-radius: 20px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elemento{
    margin-right: 20px;
    transition: transform 1s;
}

.elemento:hover{
    transform: scale(1.2);
}

/* css dos desenvolvedores*/
#desenvolvedores{
    position: absolute;
    top: 3420px;
    height: 800px;
    width: 100%;
    background: linear-gradient(to bottom, #45C4B0, #298b7d);
}

#navegacao{
    position: absolute;
    top: 100px;
    height: 600px;
    width: var(--tamanho_navegacao_desenvolvedores);
    left: var(--left_navegacao_desenvolvedores);
    display: flex;
    justify-content: center;
    align-items: center;
}

#navegacao ul{
    display: flex;
    overflow-x: scroll;
    padding: 0;
}

#navegacao ul::-webkit-scrollbar {
    width: 10px;
}

#navegacao ul::-webkit-scrollbar-track {
    background: #1e413b;
    border-radius: 20px;
}

#navegacao ul::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 20px;
}

#navegacao ul li{
    list-style: none;
    margin-right: 30px;
}

.card{
    transition: box-shadow 1s;
}

.focar{
    animation-name: animacao_desfocar;
    animation-duration: 1s;
}

@keyframes animacao_desfocar{
    from{
        filter: blur(3px);
    }to{
        filter: blur(0px);
    }
}

/*css da parte final*/
#pagina_quiz{
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    top: 4220px;
    width: 100%;
    height: 490px;
    background: linear-gradient(360deg, #042940 1%, #298b7d 94.67%);
}

#inicializador{
    position: absolute;
    width: var(--largura_bt_inicializador);
    height: 13%;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    color: #042940;
    font-weight: 600;
    top: 160px;
    border-radius: 88px;
    animation: degrade 2s infinite;
    box-shadow: #00000034 0px 12px 10px;
}

#inicializador:hover{
    box-shadow: 0 0 5px #DBF227, 0 0 5px #DBF227, 0 0 5px #DBF227, 0 0 9px #DBF227;
}

#inicializador:active{
    filter: brightness(60%);
}


#seta_cima{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 70%;
    z-index: 3;
    cursor: pointer;
}

#instaVetor, #githubVetor, #dropdownMenu2
{
    color: #212529;
    -webkit-text-stroke: .2px;
}

.nav-link{
    transform: scale(150%);
}

.nav-link:hover
{
    filter: brightness(250%);
}
.nav-link:active
{
    scale: 60%;
}

/* declaração de variaveis */
:root{
    --tamanho_imagem_pilar : 100px;
    --posicao_texto_pilar : 130px;
    --tamanho_texto_pilar : 20px;
    --tamanho_texto_equipe : 20px;
    --top_texto_equipe : 230px;
    --top_botao_comecar : 350px;
    --left_botao_comecar : 7%;
    --tamanho_circulo_equipe : 20px;
    --tamanho_texto_funcionalidade : 20px;
    --largura_bt_inicializador : 250px;
    --altura_caixa_carrossel: 200px;
    --tamanho_fonte_titulo: 100px;
    --top_texto_iniciar: 39%;
    --tamanho_lista_pontuacao: 30px;
    --tamanho_fonte_topicos : 35px;
    --top_lista_pontuacao : 350px;
    --tamanho_navegacao_desenvolvedores : 90%;
    --left_navegacao_desenvolvedores : 5%;
}

@media screen and (max-width : 700px){
    :root{
        --tamanho_imagem_pilar : 75px;
        --posicao_texto_pilar : 100px;
        --tamanho_texto_pilar : 14px;
        --tamanho_texto_equipe : 15px;
        --top_texto_equipe : 150px;
        --tamanho_circulo_equipe : 15px;
        --tamanho_texto_funcionalidade : 14px;
        --largura_bt_inicializador : 150px;
        --top_botao_comecar : 370px;
        --left_botao_comecar : 25%;
        --altura_caixa_carrossel: 140px;
        --tamanho_fonte_titulo: 40px;
        --top_texto_iniciar: 30%;
        --tamanho_lista_pontuacao: 25px;
        --tamanho_fonte_topicos : 35px;
        --top_lista_pontuacao : 360px;
        --tamanho_navegacao_desenvolvedores : 100%;
        --left_navegacao_desenvolvedores : 0%;
    }
    
    #imagem_globo{
        display: none;
    }
}

@media screen and (max-width : 400px){
    :root{
        --tamanho_lista_pontuacao : 20px;
        --tamanho_fonte_topicos : 25px;
        --top_lista_pontuacao : 410px;
    }
}
